[Unit]
Description=Server Room API REST
After=network.target mariadb.service mosquitto.service

[Service]
Type=simple
User=dev
WorkingDirectory=/home/dev/IOT/api_rest
ExecStart=/usr/bin/python3 /home/dev/IOT/api_rest/api.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
